.header {
    margin-bottom: 20px;
    display: flex;
}

.header a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.links {
    height: 80px;
    width: 80%;
    background: #197a91;
    border-radius: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 50px;
    color: yellow;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-left: 50px;
    font-size: 20px;
}

.logo {
    background: #ffed00;
    height: 100px;
    padding-top: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 40px;
}

.content {
    height: 680px;
    display: flex;
}

.catalog {
    width: 250px;
    height: 490px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    margin-right: 20px;
    border: 1px solid #d1b728;
    border-radius: 5px;
    margin-left: 10px;
    position: absolute;
}

.items {
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
}

.catalog h2 {
    font-size: 20px;
    margin-top: 0;
}

.items a {
    text-decoration: none;
    color: #07345a;
}
 input{
    height: 65%;
    margin-left: 10%;
 }
.items a:hover {
    transition: 0.2s;
    font-size: 18px;
    color: blue;
}

.item hr {
    margin: 10px 10px;
}

.footer {
    height: 200px;
    border: 3px solid #d1b728;
    width: 1238px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 20px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10%;
}

.footer h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 30px;
}

body {
    margin: 8px 5px;
}

.box {
    width: 400px;
    height: 150px;
    margin-right: 20px;
}

.main {
    width: 1045px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 190px;
}

.main h2 {
    font-size: 28px;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 10px;
}

.goods {
    flex-wrap: wrap;
    display: flex;
}

.product {
    width: 209px;
    height: 325px;
    border: 1px solid #d1b728;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.product img {
    width: 140px;
    height: 140px;
    border: 1px solid black;
}

.product img:hover {
    width: 160px;
    height: 180px;
    transition: 0.5s;
}

.product p {
    color: #07345a;
    margin-top: 5px;
}

.product h2 {
    color: #07345a;
    font-size: 16px;
    margin: 0;
}

.product a {
    text-decoration: none;
}

.box a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}
